<mat-toolbar>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutAlign.gt-xs="space-between center" fxFlex>
        
        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
            <a mat-button routerLink="/documentation/changelog">Changelog</a>
            <span>&bull;</span>
            <a mat-button href="https://www.facebook.com/22ARW-XPX-Innovation-Lab-1235773193223297/">Proudly Hand-coded
                by XPX</a>
        </div>

    </div>

</mat-toolbar>